{% extends "layout.html"%}

{%block content%}
<body>
  <section class="container mt-5">
    <div class="download-section" id="download-section">
      <form method="POST">
        <div class="input-group input-group-lg">
          <input name="url" type="url" placeholder="Introduzca la URL del video..." aria-label="url" class="form-control" id="url">
          <div class="input-group-append" id="button">
            <button type="submit" aria-label="Descargar" class="btn btn-primary">Descargar</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</body>
{% endblock%}