.btn {
  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid transparent;
  background-color: #ed213a;
}

.btn:hover {
  background-color: #b31629;
  border: 1px solid transparent;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.thumbnail {
  width: 500px;
  height: auto;
  padding: 35px;
}

.navbar-brand {
  padding-left: 10px;
}

.row {
  background-color: #e7e7e7;
}

.col-auto {
  text-align: left;
}

.info {
  margin-top: 35px;
}

.col{
  text-align: left;
}
